extends layout

block content
  h1= "Add a movie."
  form(method='POST', action='/animes/add')
    #form-group
      label Name:
      input.form-control(name='name', type='text')
    #form-group
      label Caps:
      input.form-control(name='caps', type='text')
      br
    input.btn.btn-primary(type='submit', value='Submit')