extends layout

block content
  h1= 'All Categories'
  ul.list-group
    li.list-group-item
      a(href="/movies/all")= "Movies"
    li.list-group-item
      a(href="/articles/all")= "Articles"
        
  
  